<div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
                <h2 class="h-page-title">{{mainTitle}} <small style="margin-left:1em">{{subTitle}}</small></h2>
        </div>
        <div class="col-xs-6 col-md-4 h-select-langlist">
                {{#if mutilLang}}
                <div class="btn-group">
                        <button type="button" class="btn btn-primary">{{nameLang}}</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                                {{#each listLang}}
                                <li><a href="{{href}}">{{name}}</a></li>
                                {{/each}}
                        </ul>
                </div>
                {{/if}}
        </div>
</div>
