<div class="container-fluid">
        {{> 'titlebar'}}
        <div class="row" style="margin-top:4rem">
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                        <form class="form-horizontal" method="post" action="/administrator/password.html?{{querystr}}" id="h-form-account">
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">账号</label>
                                        <div class="col-sm-10">
                                                <input type="email" class="form-control" id="email" value="{{data.email}}" readonly />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">昵称</label>
                                        <div class="col-sm-10">
                                                <input type="text" class="form-control" id="username" value="{{data.username}}" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">姓名</label>
                                        <div class="col-sm-10">
                                                <input type="text" class="form-control" id="realname" value="{{data.realname}}" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">手机</label>
                                        <div class="col-sm-10">
                                                <input type="text" class="form-control" id="mobile" value="{{data.mobile}}" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">旧密码</label>
                                        <div class="col-sm-10">
                                                <input type="password" class="form-control" id="password-old" value="" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">新密码</label>
                                        <div class="col-sm-10">
                                                <input type="password" class="form-control" id="password-new" value="" />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">登录时间</label>
                                        <div class="col-sm-10">
                                                <input type="text" class="form-control" id="signin-date" value="{{date_format data.signinTime}}" readonly />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-2 control-label h-form-label">登录设备</label>
                                        <div class="col-sm-10">
                                                <input type="text" class="form-control" id="signin-client" value="{{data.signinHost}}" readonly />
                                        </div>
                                </div>
                                <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10 h-message" id="h-message"></div>
                                </div>
                                <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                                <button type="button" class="btn btn-primary" id="h-submit" onclick="hedit()">编辑</button>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>
<script type="text/javascript">
function hedit () {
        var params = {
                username: jQuery('#username').val(),
                realname: jQuery('#realname').val(),
                mobile: jQuery('#mobile').val()
        }

        const password_old = jQuery('#password-old').val();
        const password_new = jQuery('#password-new').val();

        if (password_old.length !== 0 || password_new.length !== 0) {
                if (password_old.length === 0) {
                        return jQuery('#h-message').html('旧密码不能为空');
                }

                if (password_new.length === 0) {
                        return jQuery('#h-message').html('新密码不能为空');
                }

                if (password_new === password_old) {
                        return jQuery('#h-message').html('新密码不能和旧密码相同');
                }

                if (/^[0-9a-zA-Z_]{6,}$/.test(password_new) === false) {
                        return jQuery('#h-message').html('新密码格式错误');
                }
        }

        params['password-old'] = password_old
        params['password-new'] = password_new

        jQuery.post(jQuery('#h-form-account').attr('action'), params, function (result) {
                if (result['code'] === '0') {
                        jQuery('#password-new').val('');
                        jQuery('#password-old').val('');
                }
                jQuery('#h-message').html(result['message']);
        })
}
</script>
