<div id="footer">
        <div class="main_bot">
                <ul>
                        <li>
                                        <a href="/{{htmlLang}}/zhaomu{{extname}}">
                                        <span class="h-icon ti-world"></span>{{nav.n001}}
                                </a>
                        </li>
                        <li>
                                        <a href="/{{htmlLang}}/store{{extname}}">
                                        <span class="h-icon ti-location-pin"></span>{{nav.n002}}
                                </a>
                        </li>
                        <li>
                                        <a href="/{{htmlLang}}/org{{extname}}">
                                        <span class="h-icon ti-map"></span>{{nav.n003}}
                                </a>
                        </li>
                        <li>
                                        <a href="/{{htmlLang}}/mall{{extname}}">
                                        <span class="h-icon ti-shopping-cart-full"></span>{{nav.n004}}
                                </a>
                        </li>
                </ul>
        </div>
        <span class="h-copyright">
                <em>{{footerCompany}} {{footerBenan}}</em>
                <em>{{footerCopyright}}</em>
        </span>
</div>
