<div id="footer">
        <div class="main_bot">
                <ul>
                        <li>
                                        <a href="/{{htmlLang}}/zhaomu{{extname}}">
                                        <span class="h-icon ti-world"></span>{{nav.n001}}
                                </a>
                        </li>
                        <li>
                                        <a href="/{{htmlLang}}/store{{extname}}">
                                        <span class="h-icon ti-location-pin"></span>{{nav.n002}}
                                </a>
                        </li>
                        <li>
                                        <a href="/{{htmlLang}}/org{{extname}}">
                                        <span class="h-icon ti-map"></span>{{nav.n003}}
                                </a>
                        </li>
                        <li>
                                        <a href="/{{htmlLang}}/mall{{extname}}">
                                        <span class="h-icon ti-shopping-cart-full"></span>{{nav.n004}}
                                </a>
                        </li>
                </ul>
        </div>
        <span class="h-copyright">
                <em>{{footerCompany}} {{footerBenan}}</em>
                <em>{{footerCopyright}}</em>
        </span>
</div>
<script>
(function(){
  var bp = document.createElement('script');
  var curProtocol = window.location.protocol.split(':')[0];
  if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(bp, s);
})();
</script>
<script>
window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"100"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
