<!doctype html>
<html lang="{{htmlLang}}" class="h-viewport h-viewport-page h-theme-{{client.theme}} h-platform-{{client.platform}}">
        <head>
                <meta charset="utf-8" />
                <title></title>
                <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
                <meta name="renderer" content="webkit" />
                <link rel="shortcut icon" href="/assets/img/favicon.png" />
                <link rel="icon" href="/assets/img/favicon.png" />
                <link rel="stylesheet" href="{{resource client 'dist/bootstrap/3.3.4/css/bootstrap.min.css'}}" />
                <link rel="stylesheet" href="{{resource client '../assets/css/stylesheet.min.css'}}" />
                <link rel="stylesheet" href="{{resource client 'assets/css/stylesheet.min.css'}}" />
                <script type="text/javascript" src="{{resource client 'dist/jquery/1.11.3/jquery.min.js'}}"></script>
                <script type="text/javascript" src="{{resource client 'dist/bootstrap/3.3.4/js/bootstrap.min.js'}}"></script>
        </head>
        <body>{{{body}}}</body>
</html>
