<div id="container">
        <div id="content">
                <h2 class="page_tit">{{article.category_format}}</h2>
                <div class="beautyguide">
                        <div class="event_titbox">
                                <h3 class="event_tit"><em>{{article.title}}</em></h3>
                                <div class="sub_box">
                                        <span>{{listDate}}: {{article.datetime}}</span>
                                        <span>{{listVisit}}: {{article.visited}}</span>
                                </div>
                        </div>
                        <div class="guide_view">{{{article.content}}}</div>
                        <div class="guide_product"></div>
                </div>
        </div>
</div>
