<!doctype html>
<html lang="{{htmlLang}}">
        <head>
                <meta charset="utf-8" />
                <title>{{mainTitle}} | {{siteTitle}}</title>
                <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
                <meta name="renderer" content="webkit" />
                <meta name="keywords" content="{{siteKeyword}}" />
                <meta name="description" content="{{siteDescription}}" />
                <meta name="author" content="{{siteAuthor}}" />
                <meta name="copyright" content="{{siteCopyright}}" />
                <meta name="language" content="{{htmlLang}}" />
                <link rel="shortcut icon" href="/assets/img/favicon.png" />
                <link rel="icon" href="/assets/img/favicon.png" />
                <link rel="stylesheet" href="/assets/css/stylesheet.min.css" />
                <link rel="stylesheet" href="/assets/css/themify-icons.min.css" />
                <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
        </head>
        <body>
                <div id="wrap">
                        {{> header}}
                        {{{body}}}
                        {{> footer}}
                </div>
                <script type="text/javascript" src="/assets/js/script.js"></script>
        </body>
</html>
